Repository rhylryan21/SumriseMaths: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored --max-warnings=0, prettier -w

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js,jsx}": ["eslint --fix --no-warn-ignored --max-warnings=0"],
  "**/*.{css,md,json,yml,yaml}": ["prettier -w"]
}

**ci(web): add GitHub Actions workflow for CI**
  .github/workflows/ci.yml
Due: prettier -w

**ci(web): update workflow naming and improve verification steps**
  .github/workflows/ci.yml
Due: prettier -w

**ci(web): simplify workflow and improve pnpm setup**
  .github/workflows/ci.yml
Due: prettier -w

**ci(web): update pnpm setup and clean up workflow**
  .github/workflows/ci.yml
Due: prettier -w

**ci(web): streamline workflow with Corepack-based pnpm setup**
  .github/workflows/ci.yml
Due: prettier -w

init: web app
  .github/workflows/build-and-verify.yml
Due: prettier -w

**ci(web): improve workflow formatting and step organization**
  .github/workflows/build-and-verify.yml
Due: prettier -w

feat(web): clean initial commit (no node_modules)
  .gitignore
  README.md
  eslint.config.mjs
  next.config.ts
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/demo/page.tsx
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/app/practice/page.tsx
  src/app/set/page.tsx
  src/components/grading/QuestionsForm.tsx
  src/components/grading/ResultsSummary.tsx
  src/components/ui/Button.tsx
  src/components/ui/Card.tsx
  src/components/ui/Input.tsx
  src/hooks/useBatchMark.ts
  src/hooks/useQuestions.ts
  src/lib/api-types.ts
  src/lib/api.ts
  src/lib/constants.ts
  src/lib/types.ts
  src/lib/validation.ts
  tsconfig.json
Due: eslint --fix --no-warn-ignored --max-warnings=0, prettier -w

chore: ignore build artifacts
  .gitignore
Due: none

**chore(types): update import path for routes typings**
  next-env.d.ts
Due: eslint --fix --no-warn-ignored --max-warnings=0

**feat(web): enhance Button component and add Recent Attempts page**
  next-env.d.ts
  src/app/attempts/page.tsx
  src/components/ui/Button.tsx
  src/lib/api.ts
Due: eslint --fix --no-warn-ignored --max-warnings=0

**feat(web): add Attempt Detail page and improve linking**
  src/app/attempts/[id]/page.tsx
  src/app/attempts/page.tsx
Due: eslint --fix --no-warn-ignored --max-warnings=0

**feat(web): enhance question fetching and filtering for practice and set pages**
  src/app/practice/page.tsx
  src/app/set/page.tsx
  src/hooks/useQuestions.ts
  src/lib/api.ts
Due: eslint --fix --no-warn-ignored --max-warnings=0

**feat(web): sync UI controls with URL and improve validation**
  src/app/practice/page.tsx
  src/app/set/page.tsx
Due: eslint --fix --no-warn-ignored --max-warnings=0

**refactor(web): extract `SetPageClient` and simplify `SetPage`**
  src/app/set/SetPageClient.tsx
  src/app/set/page.tsx
Due: eslint --fix --no-warn-ignored --max-warnings=0

**feat(web): add filters for topic and question limit to Set page**
  src/app/set/SetPageClient.tsx
Due: eslint --fix --no-warn-ignored --max-warnings=0

**feat(web): add human-friendly topic labels and sorting**
  src/app/set/SetPageClient.tsx
  src/lib/topics.ts
Due: eslint --fix --no-warn-ignored --max-warnings=0

**refactor(web): simplify Recent Attempts page and enhance UI states**
  src/app/attempts/[id]/page.tsx
  src/app/attempts/page.tsx
Due: eslint --fix --no-warn-ignored --max-warnings=0
